body
{
    color: rgb(6, 56, 6);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera
{
    background: rgb(50, 50, 114);
    box-shadow: 0px 5px 30px 0px rgb(6, 56, 6, 075);
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0.5em;

}

#cabecera #tagline
{
    padding: 0 0 0 1en;
    font-weight: normal;
    font-size: 0.8em;

}

#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid rgb(197, 195, 78);
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}